*{
    margin: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body{
    background-color:white; 
}
a{
    text-decoration: none;
    color: white;
}
.flex-row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nav
{
    background-color:#333d29;
    min-height: 9vh;
    overflow: hidden;
    height: 0;
    transition: height 1s ease-in-out;
    /* opacity: 0.8; */
}
.title
{
    font-size: 1.8rem;
    padding: 1rem 0;
    display: block;
    font-family: 'Architects Daughter', cursive;
    cursor:text;
}
.toggle-collapse
{
    position: absolute;
    top: 0;
    width: 90%;
    cursor: pointer;
}
.toggle-icon
{
    display: flex;
    justify-content: flex-end;
    padding: 1.4rem 0;
}
.toggle-icon i
{
    font-size: 1.5rem;
}
.navmenu
{
    justify-content: space-between;
}
.links
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}
.links li
{
    padding: 1.2rem 1rem;
    font-size: 1.2rem;
    font-family: 'Architects Daughter', cursive;
    position: relative;
}
.sociallinks
{
    display: flex;
    flex-direction: row;
}
.sociallinks li
{
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
}
.links li a:hover 
{
 color: #ddca7d;
}
.sociallinks li a:hover
{
    color:#ddca7d;
}
/* ----------section------------- */
#title
{
    background: url(../img/bg1.jpg);
    background-size: cover;
    height: 70vh;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    background-blend-mode: soft-light;
    z-index: -1;
}
#title-bg
{
margin-top: 1rem;
padding: 5rem;
text-align: center;
color: white;
}
#title-bg h1,h3{
    margin: 0.5rem;
    opacity: 1;
}
#title-bg h1{
    font-size: 4rem;
    font-family: 'Architects Daughter', cursive;
}
#btn
{
    margin-top: 4rem;
    background-color: #656D4A;
    border-style: none;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    opacity: 1;
    cursor: pointer;
}
#btn:hover{
    background-color:#333d29 ;
    color: white;
}

@media only screen and (max-width:843px){
    .navmenu,.links
    {
        flex-direction: column;
    }
}
@media only screen and (min-width:843px)
{
    .toggle-collapse
    {
        display: none;
    }
}
